label{
    
   
    font-size: xx-small;
    font-weight: 600;
    text-align: center;
    padding: 0%;
    padding-top:20%; 
    background-color: rgb(189, 210, 255);

    border: none;


}
.col-4{
    border: solid 1px rebeccapurple;
    margin-top: 5px;
  
}
.bg-font-head{
    background-color: rgb(64, 64, 197);
    color: rgb(251, 251, 251);
    font-weight:600;
}

.bg-font-body{
    background-color: rgb(189, 210, 255);
    color: rgb(8, 8, 8);
    font-weight:bold;
}
