<div class="row">
  <div class="col-12">
      <div style="border:solid 1px rebeccapurple;margin-top:10%;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight: 600;">
         <h6> {{user.gsno}} {{user.name}}</h6>
      </div>
     </div>

     <!-- <div class="col-12" style="padding-top:3%;padding-left:15%;padding-right:15%;" >
        <label class="form-control" *ngFor="let menu of menuList" (click)="gotoPage(menu)">
            {{menu.name}}
          </label>
     </div> -->

</div>     
<div class="row">
     <div class="col-4 bg-font-head">
      <label class="form-control bg-font-head">
        QUALIFICATION
      </label>
    </div>
    <div class="col-4 bg-font-head">
      <label class="form-control bg-font-head">
        YEAR OF PASS
      </label>
    </div>
    <div class="col-4 bg-font-head" >
      <label class="form-control bg-font-head">
       BOARD/ UNIV/ INSTT
      </label>
    </div>
  </div>
 <div class="row" *ngFor="let education of educationDetails">

    <div class="col-4 bg-font-body">
      <label class="form-control bg-font-body">
        {{education.education_desc}}
      </label>
    </div>
    <div class="col-4 bg-font-body">
      <label class="form-control bg-font-body">
        {{education.year_pass}}
      </label>
    </div>
    <div class="col-4 bg-font-body" >
      <label class="form-control bg-font-body">
        {{education.university}}
      </label>
    </div>

</div>