<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">


     <div class="col-5 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      TYPE OF PUNISHMENT
      </label>
    </div>

    <div class="col-4 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
       AWARDED ON
      </label>
    </div>

    <div class="col-3 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      OFFENCE
      </label>
    </div>
  </div>
  <div class="row" *ngFor="let commonbean of details">
    <div class="col-5 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
        {{commonbean.punish_desc}}
      </label>
    </div>

    <div class="col-4 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.punish_date}}
      </label>
    </div>

    <div class="col-3 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.offense}}
      </label>
    </div>
</div>