<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">
  <div class="col-2"></div>
     <div class="col-8 bg-font-body" style="border: solid 1px rebeccapurple;margin-top:10%;">
      <label class="form-control bg-font-body" style="font-size:17px;">
      YOUR MSL SENIORITY IS
      </label>
    </div>
    
    <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
    <div class="col-6 bg-font-body" style="padding:8%;border: solid 1px rebeccapurple;margin-top:4%">
      <label class="form-control bg-font-body" style="font-size:21px;">
      {{commonbean.msl_seniority}}
      </label>
    </div>
    <div class="col-3">
      
    </div>
     </div>