label{
   
    font-weight: 700;
    border: none;
    padding: 0%;
    font-size: xx-small;
    text-align: center;

}
.bg-font-body{
    background-color: rgb(189, 210, 255);
    color: BLUE;
    
}