<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">
     <div class="col-4 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      TRADE
      </label>
    </div>

    <div class="col-4 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
       CLEARED
      </label>
    </div>

    <div class="col-4 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      DATE
      </label>
    </div>
  </div>
  <div class="row" *ngFor="let commonbean of commonbeans">
    <div class="col-4 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
        {{commonbean.trade_desc}}
      </label>
    </div>

    <div class="col-4 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label *ngIf="commonbean.prob_clear_flag=='1'" class="form-control bg-font-body">
        YES        
      </label>
      <label *ngIf="commonbean.prob_clear_flag=='0'" class="form-control bg-font-body">
        NO       
      </label>
    </div>

    <div class="col-4 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.probation_date}}
      </label>
    </div>

    </div>