<div class="row" style="padding: 2%;">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">
     <div class="col-1" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
       <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
         UNIT
       </label>
      
     </div>


    <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control"style="font-weight:900;font-size: x-small;color: black;">
        PROJECT
      </label>
    </div>

    <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%;margin-top:3%">
      <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
        FROM
      </label>
    </div>

    <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
        TO
      </label>
    </div>

    <div class="col-1" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
        AREA
      </label>
    </div>


    <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
        SUBAREA
      </label>
    </div>

    <div class="col-2" style="padding-right:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control" style="font-weight:900;font-size: x-small;color: black;">
      SECTOR
      </label>
    </div>

  </div>
  <div class="row" *ngFor="let  commonbean of details">
    <div class="col-1" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
      <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
        {{commonbean.unit_desc}}
      </label>
    </div>


   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
      {{commonbean.project_desc}}
     </label>
   </div>

   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%;margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
       {{commonbean.from_date}}
     </label>
   </div>

   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
      {{commonbean.to_date}}
     </label>
   </div>

   <div class="col-1" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
       {{commonbean.area_desc}}
     </label>
   </div>

   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
       {{commonbean.subarea_desc}}
     </label>
   </div>

   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top:3%">
     <label class="form-control" style="font-weight:600;font-size: xx-small;color: black;">
     {{commonbean.sector_desc}}
     </label>
   </div>

     </div>
