<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">
     <div class="col-2 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
       FROM UNIT
      </label>
    </div>

    <div class="col-2 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
       TO UNIT
      </label>
    </div>

    <div class="col-3 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      POSTING ORDER
      </label>
    </div>

    <div class="col-2 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
        NRS
      </label>
    </div>

    <div class="col-3 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
        MOVE DT
      </label>
    </div>
  </div>
  <div class="row" *ngFor="let commonbean of details">
    <div class="col-2 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%;">
      <label class="form-control bg-font-body">
        {{commonbean.from_unit}}
      </label>
    </div>

    <div class="col-2 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
          {{commonbean.to_unit}}
      </label>
    </div>

    <div class="col-3 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
        {{commonbean.posting_order_no}}
      </label>
    </div>

    <div class="col-2 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.nrs}}
      </label>
    </div>

    <div class="col-3 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.movedate}}
      </label>
    </div>

     </div>
