<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
    </div>
    <div class="row">
      <div class="col-6 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
        <label class="form-control bg-font-head">
        AWARD DESC
        </label>
      </div>
  
      <div class="col-6 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
        <label class="form-control bg-font-head">
         DT OF AWARD
        </label>
      </div>
  
    </div> 
<div class="row" *ngFor="let commonbean of awards">

   
    <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
        {{commonbean.award_desc}}
      </label>
    </div>

    <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.award_date}}
      </label>
    </div>


    </div>

    <div class="row" style="text-align:center">
      <div class="col-12">
        <div style="border: solid 1px rebeccapurple;margin-top:10px;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          <h5> Medal  </h5> 
        </div>
       </div>
    </div>
    <div class="row" *ngFor="let medal of medals">
  
      <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
        <label class="form-control bg-font-body">
          {{medal.medal_desc}}
        </label>
      </div>
  
      <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
        <label class="form-control bg-font-body">
         {{medal.medal_date}}
        </label>
      </div>
  
  
      </div>