label{
   
    font-weight: 700;
    border: none;
    padding: 0%;
    font-size: xx-small;
    text-align: center;

}
.bg-font-head{
    background-color: rgb(189, 210, 255);
    color:rgb(240, 9, 9);
    font-weight:bolder;
    font-size:x-small;
}

.bg-font-body{
    background-color: rgb(189, 210, 255);
    font-weight:bold;
font-size: xx-small;
color: black;
}