<div class="row" style="text-align:center">
  <div class="col-9 head">
       <img src="assets/armylogo.png" class="img-responsive imgc" alt="Cinque Terre">
  </div>
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter User Id" name="userId" #userId="ngModel" [(ngModel)]="admin.userId">
      
  </div>
  <div class="col-9 field">
      <input type="password" class="form-control" placeholder="Enter PIN" name="password" #password="ngModel" [(ngModel)]="admin.password">
      
  </div>
  <div class="col-9 field" style="text-align: right;">
      <a routerLink="/forget/password"> Forgot Password? </a>
    
  </div>
  
  <div class="col-9 footer">
     <button class="btn primary" style="width:70%;" (click)="login()"> Login </button>
  </div>
</div>