 .head{
    
     margin-top:10%;
     margin-left: 10%;
 }
 .imgc{
     width: 80%;
     height:80%;
 }
 .field{
     margin-left: 10%;
     margin-top: 4%;
 }
 .footer{
    margin:10%;
    
 }
 a{
     text-decoration: none;
     color:black;
     align-content: left;
     font-weight: bold;
 }

 input,button{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid rebeccapurple;
}
