<p>
  pdfpolicy works!
</p>
<!-- <div><label>PDF src</label><input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc"></div><pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer> -->
<pdf-viewer [src]="pdfSrc" [render-text]="true"  [fit-to-page]="true"  [autoresize]="true" style="display: block;"></pdf-viewer>
