<div class="row" style="margin:3%">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>
<div class="row">
     <div class="col-6 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
      ACP/MACP
      </label>
    </div>

    <div class="col-6 bg-font-head" style="padding:0%;border: solid 1px rebeccapurple;margin-top:3%">
      <label class="form-control bg-font-head">
       GTD FROM
      </label>
    </div>
</div>
<div class="row" *ngFor="let commonbean of commonbeans">
    <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.macp_desc}}
      </label>
    </div>

    <div class="col-6 bg-font-body" style="padding:0%;border: solid 1px rebeccapurple;margin-top:2%">
      <label class="form-control bg-font-body">
       {{commonbean.macp_date}}
      </label>
    </div>

    </div>