<div class="row" style="padding: 2%;">
  <div class="col-12">
      <div style="border: solid 1px rebeccapurple;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>

  <div class="col-9 field">
    <input type="email" class="form-control"  name="newPassword"  placeholder="Enter New Password"  #newPassword="ngModel" [(ngModel)]="user.newPassword">
</div>

<div class="col-9 field">
    <input type="password" class="form-control"  name="confirmPassword" placeholder="Confirm Password"  #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword">
    
</div>
<div class="col-9 footer">
    <button class="btn primary" style="width:70%;" (click)="changePassword()"> Change Password </button>
 </div> 
 
 <div *ngIf="checkSuccesResult" class="successmsg">password successfully changed </div>

 
    <p *ngIf="checkErrorResult" class="errormsg" style="padding-left:100px;">password not match </p>
 

</div>