

.field{
    margin-left: 10%;
    margin-top: 4%;
    
}
.footer{
   margin:10%;
   text-align:center;
}
input,button{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid rebeccapurple;
}
.successmsg{
    font-family: initial;
    color:darkgreen;
}
.errormsg{
    font-family: initial;
    color:red;
}

