<div class="row" style="margin:5%;">
  <div class="col-3 ">
    <div class="rcorners1">
        <img src="assets/armylogo.png" class="rounded-circle" alt="Cinque Terre" width="100%" height="100%"> 
    </div>
   
  </div>
  <div class="col-9 ">
   <div class=" head-font" style="border: solid 1px rebeccapurple;margin-top:10%;padding-top:3px;padding-left:5px;background-color: rgb(189, 210, 255);font-weight:600;">
    <label class="form-control  head-font"> {{user.gsno}} {{user.name}}</label>
   </div>
   
  </div>
</div>
<div class="row">
    <div class="col-12">
     
      <label class="form-control head-font">
         WIFE
      </label>
    </div>

    <div class="col-4" >
        <h6> Name: </h6>
      <label class="form-control">
         {{wife.name}}
      </label>
    </div>
    <div class="col-4" >
        <h6> DOB: </h6>
      <label class="form-control">
         {{wife.dob}}
      </label>
    </div>
    <div class="col-4">
        <h6> DOM: </h6>
      <label class="form-control ">
         {{wife.dom}}
      </label>
    </div>
  </div>



    <div class="col-12">
      <label class="form-control head-font">
      CHILDREN
      </label>
    </div>
<div class="row">
    <div class="col-4">
      <label class="form-control color-red">
        NAME
      </label>
    </div>
    <div class="col-4">
      <label class="form-control color-red">
         RELATION
      </label>
    </div>
    <div class="col-4" >
      <label class="form-control color-red">
         DOB
      </label>
    </div>
  </div>
  <div class="row" *ngFor="let child of children">

    <div class="col-4" >
      <label class="form-control">
         {{child.name}}
      </label>
    </div>
    
    <div class="col-4" >
      <label class="form-control">
         {{child.relation_name}}
      </label>
    </div>
    <div class="col-4" >
      <label class="form-control">
         {{child.dob}}
      </label>
    </div>

</div>

 
    <div class="col-12" >
      <label class="form-control head-font">
        DEPENDANTS
      </label>
    </div>

    <div class="row" *ngFor="let details of dependents">
    <div class="col-4" >
      <label class="form-control">
         {{details.name}}
      </label>
    </div>
    <div class="col-4" >
      <label class="form-control">
         {{details.relation_name}}
      </label>
    </div>
    <div class="col-4" >
      <label class="form-control">
         {{details.dob}}
      </label>
    </div>

  </div>
 