.rcorners1 {
    border-radius: 120%;
    background-color: rgb(189, 210, 255);
    width: 100%;
    height: 100%; 
    border: 1px black solid;
}
label{
    
    color: rgb(13, 13, 14);
    font-size:xx-small;
    font-weight: bold;
    text-align: center;
    padding: 0%;
    background-color: rgb(189, 210, 255);
    border: none;


}
.col-12{
    margin-top:10px;
  
}
.head-font{
    font-size: 100%;
    font-weight: 600;
    background-color: rgb(189, 210, 255);
}

.col-4{
    border: solid 1px rebeccapurple;
    margin-top:5px;
    background-color: rgb(189, 210, 255);
}
.newsdiv{
   font-size: 100%;
    border: solid 2px black;
    border-radius: 4%;
    padding: 2%;

}
.imgc{
    margin-left: 5%;
    width: 80%;
    height:80%;
}
.color-red{
    color:rgb(240, 9, 9);
    font-weight: 500;
    font-size: 80%;
}