<div class="row">
  <div class="col-12">
      <div style="border:solid 1px blue;margin-top:10%;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>
</div>

<div class="row" style="border:solid 1px blue;margin-top:10%;background-color: rgb(189, 210, 255);font-weight:600;">
  <div class="col-6">
    <select class="custom-select"  name="month" [(ngModel)]="payslip.month" #month="ngModel" style="background-color: rgb(189, 210, 255);" (change)="onChange1($event)">
      <option value='01' selected="selected">Jan</option>
      <option value='02'>Feb</option>
      <option value='03'>March</option>
      <option value='04'>April</option>
      <option value='05'>May</option>
      <option value='06'>June</option>
      <option value='07'>July</option>
      <option value='08'>August</option>
      <option value='09'>September</option>
      <option value='10'>October</option>
      <option value='11'>November</option>
      <option value='12'>December</option>  
    </select>
  </div>
  <div class="col-6">
  
    <select class="custom-select" name="year" [(ngModel)]="payslip.year" #year="ngModel" style="background-color: rgb(189, 210, 255);" (change)="onChange2($event)">
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
     
    </select>
  </div>
  
  </div>

  <div class="row">
    <div class="col-12">
        <button class="btn btn-block btn-sm" (click)="goBack()"> Back </button>
    </div>
    <div class="col-12" style="padding-top:3%;padding-left:0%;padding-right:0%;">
        <pdf-viewer [src]="pdfSrc" [render-text]="true"  [fit-to-page]="true"  [autoresize]="true" style="display: block;"></pdf-viewer>
    </div>
  </div>
  

