
<div class="row" style="margin:5%;">
  <div class="col-3 ">
    <div class="rcorners1">
        <img src="assets/armylogo.png" class="rounded-circle" alt="Cinque Terre" width="100%" height="100%">  
    </div>
   
  </div>
  <div class="col-9">
   <div style="border:solid 1px rebeccapurple;margin-top:10%;padding-top:3px;padding-left:5px;font-size:700; width:100%;font-weight: bold;background-color: rgb(189, 210, 255);">
      {{user.gsno}} {{user.name}}
   </div>
   
  </div>
  
    <div class="col-6" style="margin-top:10%;">
      <label class="form-control" *ngFor="let menu of menuList" (click)="gotoPage(menu)">
        {{menu.name}}
      </label>
    </div>
    <div class="col-6" style="margin-top:10%;">
      <div class="row" style="padding-left:10%;">
        <!-- <img src="assets/customlogo.png" > -->
        <img src="assets/customlogo.png" class="img-responsive imgc">
      </div>
      <div class="row" style="padding-left:10%;">
       <div class="newsdiv">
        <!-- <img src="assets/upcommingtitle.png" style="width:100%;height:15%"> -->
       <h6 *ngFor="let messages of upcommingEventList">{{messages.message}}</h6>
          <!-- <marquee direction = "up" style="background-color: darkgray;width:100%;height:100%;"> '{{message}}</marquee> -->
       </div>
       <div>
        
       </div>
      </div>
    </div>
    
  
  
</div>
