.rcorners1 {
    border-radius: 120%;
    background: rgb(246, 246, 246);
    width: 100%;
    height: 100%; 
    border: 2px black solid;
}
label{
    width:100%;
    color: blue;
    font-size: 68%;
    font-weight: 600;
    border: solid 1px rebeccapurple;
    background-color: rgb(189, 210, 255);
}
.newsdiv{
   font-size: 100%;
    border: solid 2px black;
    border-radius: 4%;
    padding: 2%;

}
.imgc{
    margin-left: 5%;
    width: 80%;
    height:80%;
}