<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid cnt">
    <div class="jumbotron row">
<div class="col-1">
            <i class="fa fa-arrow-left" (click)="gotoBack()"> </i>
</div>
       <div class="col-9" style="font-weight:600;font-size:18px;text-align:center;">   
       {{header}}
       </div>
       <div class="col-1" *ngIf="!changePassword">
       <div class="dropdown">
        <i class="fa fa-ellipsis-v"  data-toggle="dropdown" style="font-size:20px;">        
        </i>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="logOut()">Log out</a>
          <a class="dropdown-item" routerLink="/change/password">Change Password</a>
          </div>
    </div>
   </div> 
       <!-- <i class="fa fa-ellipsis-v" style="font-size:20px;padding-left:250px;"></i> -->
       
      </div>
<router-outlet></router-outlet>

</div>

<!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->