<div class="row">
    <div class="col-12">
        <div style="border:solid 1px rebeccapurple;margin-top:10%;padding-top:3px;padding-left:5px; text-align: center;font-weight:600;background-color: rgb(189, 210, 255);">
            {{user.gsno}} , {{user.name}} 
        </div>
       </div>

       <div class="col-12" style="padding-top:3%;padding-left:15%;padding-right:15%;" >
          <label class="form-control" *ngFor="let menu of menuList" (click)="gotoPage(menu)">
              {{menu.name}}
            </label>
       </div>
</div>