<div class="row" style="margin:3%" *ngIf="!isShowDetais">
    <div class="col-12">
        <label>Select Grievance</label>
        <select class="custom-select" name="type" [(ngModel)]="grievances.type" #type="ngModel">
          <option  *ngFor="let type of grienvanceType" value="{{type.name}}">{{type.name}}</option>
          <!-- <option value="2">Promotion Related Complaints</option>
          <option value="3">Service Record Related Complaints</option> -->
        </select>
      </div>
   
        <div class="col-12" >
            <label for="exampleTextarea" style="margin-top:10px;">Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="5" name="grienvanceMessage" #grienvanceMessage="ngModel" [(ngModel)]="grievances.grienvanceMessage"></textarea>
          </div>

          <div class="col-6 footer">
              <button class="btn primary"   style="background-color: rgb(189, 210, 255); color: black;" (click)="getDetails()"> VIEW </button>
           </div>
           
           <div class="col-6 footer">
              <button class="btn primary"   style="background-color: rgb(189, 210, 255); color: black;" (click)="saveGrivance()"> SAVE </button>
           </div>

           


</div>

<div class="row" *ngIf="isShowDetais">
    
      <div class="col-12">
        <div class=" head-font" style="border: solid 1px rebeccapurple;margin-top:5%; margin-bottom:5%;padding-top:3px;padding-left:5px;background-color: rgb(189, 210, 255);font-weight:600;">
         <label class="form-control  head-font" style="background-color: rgb(189, 210, 255);"> {{user.gsno}} {{user.name}}</label>
        </div>
        
       </div>
    
  
</div>
<div class="row" *ngFor="let gri of details" style="margin-top:5px; background-color:rgb(189, 210, 255);border:1px solid  rebeccapurple">
  <div class="col-4">
    G_Type
  </div>
  <div class="col-6">
    {{gri.grievance_type}}
  </div>
  <div class="col-4">
    G_Date
  </div>
  <div class="col-6">
    {{gri.grievancedatetime |date}}
  </div>
  <div class="col-4">
    G_Message
  </div>
  <div class="col-6">
    {{gri.grievance_message}}
  </div>
  <div class="col-4">
    G_Reply
  </div>
  <div class="col-6">
    {{gri.grievance_reply}}
  </div>
</div>