label{
   
    font-weight: 500;
    border: none;
    padding: 0%;
    text-align: center;
    
}
 textarea{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: solid 1px rebeccapurple;
} 
select{
    background-color: rgb(189, 210, 255);
    border: solid 1px rebeccapurple;
    color:black;
}
.footer{
    text-align: center;
    margin-top:200px;
    padding-left:10px;
    border:solid 1px rebeccapurple;
    background-color: rgb(189, 210, 255);
 }