<div class="row" style="margin:5%;">

   <div class="col-4 " style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);">
      <label class="form-control">
        {{commonbean.gsno}}
        </label>
   </div>
   <div class="col-2" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);">
      <label class="form-control">
        {{commonbean.trade_desc}}
        </label>
   </div>
   <div class="col-6" style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);">
      <label class="form-control">
  NAME: {{commonbean.name}}
        </label>
   </div>
  
   <div class="col-8" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
      <label class="form-control">
     DOB: {{commonbean.dob}}
        </label>
   </div>

   <div class="col-4" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
      <label class="form-control">
        DOA: {{commonbean.dao}}
        </label>
   </div>

   <div class="col-3 " style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top: 3px;">
    <label class="form-control " >
       MED CAT 
      </label>
 </div>
 
 <div class="col-4 " style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top: 3px;">
  <label class="form-control " >
    {{commonbean.medcat_desc}}
    </label>
</div>

<div class="col-5 " style="padding:0%;border: solid 1px rebeccapurple;background-color: rgb(189, 210, 255);margin-top: 3px;">
  <label class="form-control " >
  DOR : {{commonbean.dor}}
    </label>
</div>

<div class="col-8" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
    MARRIED: {{commonbean.married}}
    </label>
</div>

<div class="col-4" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
   SEX: {{commonbean.sex}}
    </label>
</div>

<div class="col-12" style="border: solid 1px rebeccapurple; margin-top: 7px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 H.NO/NAME: {{commonbean.house_no}}
    </label>
</div>

<div class="col-12" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 VILL: {{commonbean.village}}
    </label>
</div>

<div class="col-12" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 NRS: {{commonbean.nrs}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 PO : {{commonbean.post}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 TEH: {{commonbean.tehsil}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 DIST : {{commonbean.dist_name}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 STATE : {{commonbean.state_name}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 PIN : {{commonbean.pin_code}}
    </label>
</div>

<div class="col-6" style="border: solid 1px rebeccapurple; margin-top: 3px;background-color: rgb(189, 210, 255);">
  <label class="form-control">
 NRS DIST KM : {{commonbean.nrs_km}}
    </label>
</div>
  
</div>