<div class="row" >
    <div class="col-12">
            <div style="border: solid 1px rebeccapurple;;margin-top:10%;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);">
                    {{user.gsno}} , {{user.name}} 
                </div>
       </div>


       <div class="col-9" style="padding-top:3%;padding-left:10%;" >
          <!-- <label class="form-control">
              UPLOAD SELF PHOTO
            </label> -->
            <!-- <input type="text" class="form-control input-sm"  name="selfPhoto" value="UPLOAD SELF PHOTO" disabled style="background-color: rgb(189, 210, 255);color: blue;" (click)="openCamera()"> -->
            <button class="btn btn-sm btn-block btn-primary" (click)="openCamera()">UPLOAD SELF PHOTO</button>
       </div>
       <div class="col-3" style="padding-right:7%;padding-left:0%;padding-top:2%;">
                <img src="assets/armylogo.png" class="rounded-circle rcorners1"  width="100%" height="100%"> 
             
      </div>

      <div class="col-9" style="padding-top:3%;padding-left:10%;" >
        <!-- <label class="form-control">
            UPLOAD JOINT PHOTO
          </label> -->
          <!-- <input type="text" class="form-control"  name="joinPhoto" value="UPLOAD JOINT PHOTO" disabled style="background-color: rgb(189, 210, 255);color: blue;" (click)="openCamera()"> -->
          <button class="btn btn-block btn-primary" (click)="openCamera()">UPLOAD JOINT PHOTO</button>
     </div>
     <div class="col-3" style="padding-right:7%;padding-left:0%;padding-top:2%;">
      
          <img src="assets/armylogo.png" class="rounded-circle rcorners1"  width="100%" height="100%"> 
     
     
    </div>

     <div class="col-12 field">
        <input type="email" class="form-control"  name="email"  #email="ngModel" [(ngModel)]="user.email">
    </div>

    <div class="col-12 field">
        <input type="text" class="form-control"  name="mobile"  #mobile="ngModel" [(ngModel)]="user.mobile">
        
    </div>

    <div class="col-7 footer">
        <button class="btn primary btn-block" style="width:80%;" (click)="update()" style="background-color: rgb(189, 210, 255); color: blue;"> UPDATE </button>
     </div>  

</div>

