label{
    width:100%;
    color: darkblue;
    font-size: 60%;
    font-weight: bold;
    border: solid 1px rebeccapurple;
    background-color: rgb(189, 210, 255);

}

.rcorners1 {
    border-radius: 120%;
    background: rgb(246, 246, 246);
    margin-top:3%;
    width: 70%;
    height: 80%; 
    border: 2px black solid;
}

.field{
    
    padding-left:10%;
    margin-top: 4%;
    padding-right:10%;
}

.footer{
    margin-left:20%;
    margin-right:15%;
    margin-top:5%;
    
   
    
 }
 input,button{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: solid 1px rebeccapurple;
}