<div class="row">
  <div class="col-12">
      <div style="border:solid 1px blue;margin-top:10px;padding-top:3px;padding-left:5px; text-align: center;background-color: rgb(189, 210, 255);font-weight:600;">
          {{user.gsno}} , {{user.name}} 
      </div>
     </div>



  <div class="col-12" >
  
    <select class="custom-select" name="year" [(ngModel)]="form16.year" #year="ngModel" style="background-color: rgb(189, 210, 255);border:solid 1px blue;margin-top:5px;" (change)="onChange($event)">
      <option value="2015_2016">2015-2016</option>
      <option value="2016_2017">2016-2017</option>
      <option value="2017_2018">2017-2018</option>
     
    </select>
  </div>
  
</div>

<div class="row">
  <div class="col-12">
      <button class="btn btn-block btn-sm" (click)="goBack()"> Back </button>
  </div>
  <div class="col-12" style="padding-top:3%;padding-left:0%;padding-right:0%;">
      <pdf-viewer [src]="pdfSrc" [render-text]="true"  [fit-to-page]="true"  [autoresize]="true" style="display: block;"></pdf-viewer>
  </div>
</div>
