<div class="row">
  <div class="col-12">
      <button class="btn btn-block btn-sm" (click)="goBack()"> Back </button>
  </div>
  <div class="col-12" style="padding-top:3%;padding-left:0%;padding-right:0%;">
      <pdf-viewer [src]="pdfSrc" [render-text]="true"  [fit-to-page]="true"  [autoresize]="true" style="display: block;"></pdf-viewer>
  </div>
</div>