.jumbotron{
    padding-left:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(53, 53, 170);
    margin-bottom: 0%;
    color: white;
}
.bg_img{
   background-image: url("assets/background_img.jpeg");
   background-repeat: no-repeat, repeat;
    /* Full height */
      height: 100%; 
      width: 100%;
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0%;
}
.cnt{
    height: 760px;
}
.btndiv{
  
}
.btnimg{
    background-image: url("assets/btn.png");
    background-repeat: no-repeat, repeat;
     /* Full height */
       height: 100%; 
       width: 100%;
       
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 0%;
       padding: 0%;
}
a{
    text-decoration: none;
}

.button{
   
    padding-top: 5%;
    padding-bottom: 5%;
}