
<!-- <div class="bg_img"> -->


 <div class="row">
   <div class="column btndiv" style="width:25%;margin-left:3%;margin-top:2%;">
      <a routerLink='/login'> <button type="button" class="btn  button btn-secondary btn-lg btn-block btnimg"> Login </button> </a>  
  </div>
  <div class="column btndiv" style="width:36%; margin-left:2%;margin-top:2%;margin-right:2%">
      <button type="button" class="btn  button btn-secondary btn-lg btn-block btnimg"> Divice IMEI </button>   
  </div>
  <div class="column btndiv" style="width:29%;margin-right:3%;margin-top:2%;">
    <a routerLink='/register'> <button type="button" class="btn btn-secondary  button btn-lg btn-block btnimg">Register</button>   </a>
  </div>
 </div>   

 
<div class="container-fluid" style="margin-top:10%;">

  <div class="row">
    <div class="col-sm-12">
        <div class="card-deck-wrapper">
            <div class="card-deck">

                <div class="col-sm-12">
                    <!-- Card 1 -->
                    <div class="card h-100 text-black bg-secondary">
                        <div class="card-body">

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/Slider/b1.jpg" width="100%" height="400px">
        </div>
        <div class="carousel-item">
            <img src="/assets/Slider/b2.jpg"  width="100%" height="400px">
        </div>
        <div class="carousel-item">
          <img src="/assets/Slider/b3.jpg"  width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src="/assets/Slider/b4.jpg" width="100%" height="400px">
    </div>
    <div class="carousel-item">
      <img src="/assets/Slider/b5.jpg" width="100%" height="400px">
  </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>