<div class="row" style="margin:3%">
<div class="col-12 field">
    <input type="text" class="form-control" placeholder="Enter Userid" name="userid" #userId="ngModel" [(ngModel)]="admin.userid">
    
</div>
<div class="col-12 field">
    <input type="text" class="form-control" placeholder="Enter Dob example:1985-12-04" name="dob" #dob="ngModel" [(ngModel)]="admin.dob">
    
</div>
<div class="col-12 field">
    <input type="password" class="form-control" placeholder="Enter Password" name="newPassword" #newPassword="ngModel" [(ngModel)]="admin.newPassword">
    
</div>
<div class="col-9 footer">
    <button class="btn primary" style="width:70%;" (click)="forgetPassword()">Forget Password </button>
 </div>
</div>

<!-- ------------------------------------------------------------------------------------------------ -->
<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
<div class="modal fade" bsModal #staticModal="bs-modal" id="myModal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>