input,button{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid rebeccapurple;
}

.field{
    
    padding-left:10%;
    margin-top: 4%;
    padding-right:10%;
}

.footer{
    margin-left:20%;
    margin-right:15%;
    margin-top:10%;
    
   
    
 }
 