.bg_img{
    background-image: url("assets/bg_image.png");
    background-repeat: no-repeat, repeat;
     /* Full height */
       height: 100%; 
       width: 100%;
       
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: 100% 100%;
       margin: 0%;
 }
 .head{
    
     margin:10%;
     margin-bottom: 5%;
 }
 .field{
     margin-left: 10%;
     margin-top: 5%;
 }
 .footer{
    margin:10%;
    
 }
input,button{
    background-color: rgb(189, 210, 255);
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid rebeccapurple;
}

   
    
