<div class="row" style="text-align:center;" >
  <div class="col-9 head">
      <h3>Registration Form </h3>
  </div> 
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter User Id">
  </div>
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter Mobile No">
  </div>
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter Email Id">
  </div>
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter DOB">

  </div>
<div class="col-9 field">
    Example. DD-MM-YYYY
      
  </div>

  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter Aadhaar Number">
      
  </div>
  <div class="col-9 field">
      <input type="text" class="form-control" placeholder="Enter GSNO">
      
  </div>
  <div class="col-9 field">
      <input type="password" class="form-control" placeholder="Enter PIN">
      
  </div>
  <div class="col-9 footer" >
     <button class="btn primary" style="width:70%;" (click)="register()"> Registration </button>
      
  </div>
 

 </div>

